= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :position
    = f.collection_check_boxes :position_ids, Position.all, :id, :name, include_hidden: false
  .field
    = f.label :ability
    = f.collection_check_boxes :ability_ids, Ability.all, :id, :name, include_hidden: false
  .actions
    = f.submit 'Save'
