%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Position:
  = @user.positions.pluck(:name).join(", ")
%p
  %b Ability:
  = @user.abilities.pluck(:name).join(", ")

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
